<h1>Learning Progress</h1>
<p><i>
    <%= link_to "Back to Section Standards", student_subject_section_path(@student_standard.student_subject, student_standard_section(@student_standard)) %>
    <% if policy(@student_standard).update? %>
       | <%= link_to "Edit", edit_student_standard_path(@student_standard), method: 'get' %>
    <% end %>
</i></p>

<%= render partial: "student_standard_table", locals: {student_standard: @student_standard} %>