<h3>User: <%= @user.email %></h3>

<h3>User's Subjects:</h3>
<table>
        <% @user.student_subjects.each do |ss| %>
            <tr>
                <td><%= student_subject_title(ss) %></td>
                <td><%= link_to "delete", student_subject_path(ss), :data => { :confirm => "Are you sure? Deleting this subject will also delete the student's progress with the standards in this subject." }, method: "delete" %></td>
            </tr>
        <% end %>
</table>