<h1><%= @user.name %>'s Subjects:</h1>

<p><i><%= link_to "Back to all students", users_path %></i></p>
<p>Click on a section to view progress.</p>

<%= render partial: "user_subjects", locals: {user: @user} %>