
    <table>
        <tr>
            <th>Standard</th>
            <th>Progress Level</th>
            <th>Comments</th>
            <th>Evidence</th>
            <th>Edit</th>
        </tr>
    <% student_standards.each do |ss| %>
            <tr>
                <td><%= description(ss) %> </td>
                <td><%= ss.progress_level %></td>
                <td><%= ss.comments %></td>
                <td><%= ss.evidence %></td>
                <td>Edit Progress</td>
            </tr>
    <%end%>
    </table>