
    <table id= "student_standards">
        <tr>
            <th>Number</th>
            <th>Standard</th>
            <th>Progress Level</th>
        </tr>
    <% student_standards.each do |ss| %>
            <tr>
                <td><%= dot_notation(ss) %></td>
                <td><%= description(ss) %> <%= link_to "View", section_student_standard_path(section, ss) if ss.progress_level %></td>
                <td><%= progress_column_options(ss, section) %></td>
            </tr>
    <% end %>
    </table>