<h1><%= @section.title %></h1>
<p><i><%= link_to "Back to all sections", student_subject_path(@student_subject) %></i></p>


<%= render partial: "display_student_standards", locals: {sorted_standards: @sorted_standards} %>

 <br> <br> 

<!--ADMIN
<%#= link_to "Show section's Standards", section_standards_path(@section) %>
-->

