<h2><%= @section.title %></h2>
<p><%= link_to "Edit", edit_subject_section_path(@section.subject, @section)%> / <%= link_to "Back to all sections", subject_path(@section.subject) %></p>

<h4>Skills</h4>

- Add new skill