<h1><%= @section.title %></h1>
<p><i><%= link_to "Back to all sections", subject_path(@section.subject) %></i></p>

<%= render partial: "display_student_standards", locals: {student_standards: @student_standards, section: @section} %>

 <br> <br> 

<!--ADMIN
<%#= link_to "Show section's Standards", section_standards_path(@section) %>
-->