<div class="student-subject-home">
    <div class="student-subject-new"></div>
    <div class="student-subject-index"></div>
</div>

<div class="student-subject-show"></div>

<script id="student-subject-new-template" type="text/x-handlebars-template">
    <h1>Your Subjects</h1>
        <form class="new_student_subject" id="new_student_subject" action="/student_subjects" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="uJ8/luO4LXmDujRXzSrseCr19/DajSDi6leV5v1zWKAy6Pt4At4AX0sq2W/eR4t2hiGcWxaTlvBmWDTVENgt7w==">
            <select name="student_subject[subject_id]" id="student_subject_subject_id">
                <option value=""></option>
                {{#each this}}
                    <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
            <input type="submit" name="commit" value="Add Subject" data-disable-with="Add Subject">
    </form>    <br>
</script>

<script id="student-subject-index-template" type="text/x-handlebars-template">
    <div class="student-subject-list">
    {{#each this}}
        <p><a class="student-subject-link" data-id="{{this.id}}" href="/student_subjects/{{this.id}}">{{subject.title}}</a></p>
    {{/each}}
    </div>
</script>

<script id="student-subject-show-template" type="text/x-handlebars-template">
  <h2>{{subject.title}}</h2>

  <p class="page-links">
    <a href="/">Back to All Subjects</a> 
    | <a href="/student_subjects/{{id}}/student_standards">View Standards by Progress Level</a>
  </p>

  <ul>
    {{#each subject.sections}}
    <li><a href="/student_subjects/{{../id}}/sections/{{this.id}}">{{this.title}}</a> </li> <br>
    {{/each}}
  </ul>  
</script>

<!--    
    <h1>Your Subjects</h1>
        <%= form_for @student_subject do |f| %>
            <%= f.select :subject_id, @subjects.map {|s| [s.title, s.id] }, include_blank: true, required: true %>
            <%= f.submit "Add Subject" %>
        <% end %>
    <br>
    <div class="student-subject-index"></div>
    <div class="index">
        <% current_user.student_subjects.each do |ss| %>
            <% if ss.id %>
                <p><%= link_to student_subject_title(ss), student_subject_path(ss), class: "student-subject-link", data: {id: ss.id}%></p>
            <%end%>
        <% end %>
    </div>
 -->