 <h1>Your Subjects</h1>

    <%= form_for @student_subject do |f| %>
        <%= f.select :subject_id, @subjects.map {|s| [s.title, s.id] }, include_blank: true %>
        <%= f.submit "Add Subject" %>
    <% end %>

<br>

<div class="student-subject-list">
<% current_user.student_subjects.each do |ss| %>
    <%= link_to student_subject_title(ss), student_subject_path(ss) if ss.id %>
    <br> <br>
<% end %>
</div>