<table>
    <tr>
        <th id="skinny-column">Available to Students?</th>
        <th>Title</th>
        <th>Sections</th>
    </tr>
        <% subjects.each do |subject|%>
    <tr>
        <td id="skinny-column"><%= check_box("subject", "ready", {checked: subject.ready?, disabled: true}) %></td>
        <td> 
            <%= link_to subject.title, subject_path(subject) %>
            <% if subject.standards.empty? %>
                <p>(No standards have been added.)</p>
            <% end %>
        </td>
        <td>
            <ul class="section-list">
                <% subject.sections.each do |section| %>
                    <li><%= section.title %></li>
                <% end %>
            </ul>
        </td>
    </tr>
    <% end %>
</table>