 <h1>Your Subjects</h1>
        <%= select_tag "subjects", options_from_collection_for_select(@subjects, "id", "title"), include_blank: true %>
        <%= submit_tag "Add Subject"%>
    <br>
    <br>
    <div>
        <% @user_subjects.each do |s| %>
            <%= link_to s.title, subject_path(s) %>
            <%= button_to "Remove  #{s.title}", subject_path(s), method: :delete %> <br>
        <% end %>
    <div>