 <h1>Your Subjects</h1>
        <%= form_tag ('/'), method: 'get' do %>
            <%= select_tag "subjects", options_from_collection_for_select(@subjects, "set_id", "title"), include_blank: true %>
            <%= submit_tag "Add Subject"%>
        <% end %>
    <br>
    <br>
    <div>
        <% @user_subjects.each do |s| %>
            <%= link_to s.title, subject_path(s) %>
            <br> <br>
        <% end %>
    <div>