<h3>Add a New Subject</h3>

<%= render partial: "layouts/errors", locals: {object: @subject} %>
<% if @subject.errors.any? %>
    <%=link_to "OK", new_subject_path%>
<% else %>
    <%= render partial: "form", locals: {subject: @subject} %>
<%end%>