

<!-- make partial/layout for this nav links -->
-----
<h3>ADMIN</h3>
<p><%= link_to "Edit Subject Title", edit_subject_path(@subject) %></p>
<%= button_to "Add Section", new_subject_section_path(@subject), method: 'get' %>
-----
