<h2><%= @subject.title %></h2>
<i><%= link_to "Back to All Subjects", root_path %></i>
<ul>
<% @subject.sections.each do |section| %>
    <li><%= link_to section.title, subject_section_path(@subject, section) %> </li> <br>
<% end %>
</ul>
