/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #skinny-column {
   width: 5%;
   text-align: center;
 }

 li.sub-standard {
  margin-left: 35px; 
  list-style-type: circle;
 }

 input[type=submit]  {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #87ce61;
  margin-top: 2px;
 }

 input[type=submit].delete {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #ef694f;
 }

 input[type=submit].go {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #915bec;
 }

 #flash_alert, #flash_notice {
  color: green;
  font-weight: bold;
  font-style: italic;
  font-size: 16pt;
}

 #error_explanation, #flash_error {
  color: red;
  font-weight: bold;
  font-style: italic;
  font-size: 16pt;
}

#student_standards table, #student_standard_show table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#student_standards td, #student_standards th {
  border: 1px solid #ddd;
  padding: 8px;
}

#student_standards tr:nth-child(even), #student_standard_show tr:nth-child(even) {background-color: #f2f2f2;}

#student_standards tr:hover, #student_standard_show tr:hover {background-color: #ddd;}

#student_standards th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#student_standard_show th {
  width: 20%
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b3dde5;
}

textarea {
  width: 50%;
  height: 50px;
}