/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  color: #525252;
  font-family: 'Quicksand', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

/* HEADER */

header {
  position: absolute;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 100;
  left: 0%;
  margin-bottom: 10px;
  float: left;
}
  
div.container {
  height: 100px;
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  /* background-color: gray; */
}

li.nav-right {
  float: right;
  list-style-type: none;
  font-size: 14px;
}

li.nav-link {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}

nav.main-nav {
  padding-top: 15px;
  font-size: 18px;
}

/* BODY */

.column {
  width: 100%;
  margin-top: 120px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:link, a:visited {
  color: #ef8b2d;
  text-decoration: none;
}

a:hover {
  color: #db6606;
}

img.logo {
  width: 90px; 
  height: 90px; 
  float: left; 
  margin-bottom: 0;
  padding-right: 20px;
}

p.page-links {
  font-style: italic;
}

 div.instructions {
  font-size: 1.25em;
  display: inline;
 }

 li.sub-standard {
  margin-left: 35px; 
  list-style-type: circle;
 }

 ul.section-list {
   list-style-type: none;
   padding-left: 0;
 }

 input[type=submit]  {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ef8b2d;
  margin-top: 2px;
  font-weight: bold;
  color: #525252;
 }

 #flash_alert, #flash_notice, #error_explanation, #flash_error {
  font-weight: bold;
  font-style: italic;
  font-size: 1.25em;
  color: gray;
}

#skinny-column {
  width: 5%;
  text-align: center;
}

#student_standards table, #student_standard_show table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#student_standards td, #student_standards th {
  border: 1px solid #ddd;
  padding: 8px;
}

#student_standards tr:nth-child(even), #student_standard_show tr:nth-child(even) {background-color: #f2f2f2;}

#student_standards tr:hover, #student_standard_show tr:hover {background-color: #ddd;}

#student_standards th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fffbb3;
}

#student_standard_show th {
  width: 20%
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
  padding-left: 15px;
}

th {
  background-color: #fffbb3;
  font-size: 20px;
}

/* tr:nth-child(even) {
  background-color: #fffbb3;
} */

tr:hover {background-color: #fffbb3;}

textarea {
  width: 50%;
  height: 50px;
}