

<% @standards.each do |id| %>
    <% id.each do |attributes| %>
        <% if attributes.include?("statementNotation") && attributes["statementNotation"].include?("7.") %>
            <p> <%= attributes["statementNotation"] %> <%= attributes["description"] %></p>
        <% end %>
    <% end %>
<% end %>