<h2>Add a New Standard</h2>

<% @standards_hash.each do |hash| %>
    Subheading: <%= hash[:subheading] %> <br>
    Dot_notation: <%= hash[:dot_notation] %> <br>
    Standard: <%= hash[:standard] %> <br> <br>
<%end%>

<%#= form_for @standard do |f| %>
    <%#= f.text_area :description %> <br>
    <%#= f.hidden_field :section_id %> 
    <%#= f.submit %>
<%# end %>