<h2>Edit <%= object.title %> </h2>
<i><%= link_to "Cancel", object_path %> |
<% if policy(object).destroy? %>
    <%= link_to "Delete #{object.title}", object_path, :data => { :confirm => "Are you sure?" }, method: "delete", class: "delete" %></i>
<% end %>
<br>